<div class="container">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
     
    <label for="email"><b>Email</b></label><br>
    <input type="email" placeholder="Enter Email" formControlName="email" id="email">
      <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
        <div *ngIf="loginForm.get('email').errors.required">Email is required</div>
        <div *ngIf="loginForm.get('email').errors.email">Email is not valid</div>
      </div>
    </div>
    <div>
      <label for="password"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" formControlName="password" id="password" required>
      <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
        <div *ngIf="loginForm.get('password').errors.required">Password is required</div>
        <div *ngIf="loginForm.get('password').errors.minlength">Password must be at least 6 characters long</div>
      </div>
    </div>
    <button type="submit" class="btn btn-info mt-2" [disabled]="!loginForm.valid" >Login</button>
  </form>

  </div>